.App {
  text-align: center;
}

.navbar {
  background: #e60012;
}

.main-logo {
  width: 120px;
  height: 60px;
  display: block;
  text-align: center;
  background: url(./image/logo_nintendo_red.gif) no-repeat center center;
  margin: 0 20px;
}

.main-logo a {
  display: block;
  width: 120px;
  height: 60px;
  font-size: 0;
  text-indent: -999px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-right: 10px;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler {
  border-color: rgb(255, 255, 255);
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 400px;
  background: url(./image/background.png) center center;
  color: white;
}

/* news section */
.news-title {
  font-size: 20px;
}

/* notice section */
.notice {
  margin: 20px 0;
}

/* footer */
footer {
  height: 200px;
  background: #f5f5f5;
  text-align: left;
  padding: 20px;
}
